/* for last row design */

.custom-col {
    width: 100%;
    box-sizing: border-box;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    gap: 1rem;

    /* 1 element in a row on mobile */

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.products .checkbox {
    position: absolute;
    top: 15px;
    left: 15px;
    visibility: hidden;
}

.selected .checkbox,
.products:hover .checkbox {
    visibility: visible;
    position: absolute;
    top: 15px;
    left: 15px;
}

p.delete-btn:hover {
    text-decoration: underline;
}

.dotted-border {
    border: 2px dotted #a8a8a8 !important;
    padding: 20px;
    text-align: center;
}

.product-image {
    position: relative;
    overflow: hidden;
}

.product-image .product-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(52, 73, 94, .5);
    top: 100%;
    right: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

/* .team-overlay a {
    font-size: 35px;
    margin: 0 5px;
    color: #f39c12;
} */

.product-image:hover .product-overlay {
    top: 0;
    right: 0;
}

.profile-photo {
    position: relative;
    overflow: hidden;
}