/* for last row design */

.custom-col {
    width: 100%;
    box-sizing: border-box;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    gap: 1rem;

    /* 1 element in a row on mobile */

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.products .checkbox {
    position: absolute;
    top: 15px;
    left: 15px;
    visibility: hidden;
}

.selected .checkbox,
.products:hover .checkbox {
    visibility: visible;
    position: absolute;
    top: 15px;
    left: 15px;
}

p.delete-btn:hover {
    text-decoration: underline;
}